DATABASE_URL="postgresql://postgres:postgres@localhost:5432/chambaapp?schema=public"
JWT_SECRET="cambia_este_secreto"
MONGODB_URI="mongodb+srv://usuario:password@cluster.mongodb.net/chambaapp"
MONGO_URI="mongodb+srv://usuario:password@cluster.mongodb.net/chambaapp"
PORT=3000
